*{
	margin: 0;
	padding: 0;
	
}

html, body {
	height: 100%;
}
body {
	background: #E6B325;
}
.shapka {
	width: calc(100% - 2px);
	height: 50px;
	border: 1px solid white;
	color: #ab1d1d;
	background:#102C57 ;
}
.shapka-align {
	width: 60%;
	color: #ab1d1d;;
	height: inherit;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	height: inherit;
	width: 160px;
	border: 1px solid black ;
	background: url(../img/fff.jpg);
	background-size: cover;

}
.menu-link-item {
	margin-right: 30px;
	text-decoration: none;
	color: white;
	
	min-height: 20px;
	min-width: 40px;

}
.header {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
}
	

.shop-item {
	margin: auto;
	margin: 5px;
	color: black;
	padding: 30px;
}
.shop-item-img {
	width: 140px;
	height: 150px;
	border: 2px solid white;
}
.menu-link-item:hover {
	transition: 1s;
	transform: scale(1.2) ;
	background: red;
}
.lll{
	background: url(..img/uuul.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.shop-wrapper{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.shop-item-img2 {
	width: 150px;
	height: 150px;
}

.shop-item {
	width: calc(32% - 10px - 60px);
	margin: 5px;
	height: 440px;
	background: #102C57 ;
	padding: 30px;
	text-align: center;
}
.shop-item-img {
	width: 250px;
	height: 150px;
}
.shop {
	width: 100px;
	height: 50px;
}
.header-btn {
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	color: #191919;
	background-color: #750E21;
}
.geg {
	text-align: center;
}
a {
	color: white ;
	text-decoration: none;
}
.h3 {
	color: white;
}
.shop-item:hover {
	width: calc(33% - 10px - 60px);
	transition: 1s;
	height: 460px;

	
}
h2 { color:white; }
.geg{
	
	background: url(../img/ioi.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}
