*{
	margin: 0;
	padding: 0;
	
}

html, body {
	height: 100%;
}
bodi {

}
.shapka {
	width: 100%;
	height: 40px;
	border: 1px solid black;
	color: #196b0d;
	background: #f5493d;
}
.shapka-align {
	width: 60%;
	background: #ab1d1d;
	height: inherit;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	height: inherit;
	width: 160px;
	border: 1px solid purple;
	background: url(../img/t.jpg);
	background-size: cover;

}
.menu-link-item {
	margin-right: 30px;
	text-decoration: none;
	color: gold;
}
.header {
	height: calc(100% - 40px);
	background-image: url(../img/w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;

	}
.header:after{
	content:'' ;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;

}
.header > .box {
	z-index: -1;
	text-align: center;
	color: gold;
}
.h1 {
	font-size: 5rem;
}
.subtitle {
	font-size: 1.6rem;
	padding: 2rem 0;
}
.header-btn {
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	color: #f1f51b;
	background-color: #f71616;
}
.header-btn + .header-btn {
	margin-left: 20px;
	background-color: gold;
	color: #f71616;

}
a:hover {
	color: gold;
	font-size: 24px;
	border-radius: 10px;
	border-bottom: 2px solid gold;}

a {
	transition: 0.8s;
}
footer {
	margin: auto;
	width: 100%;
	height: 50%px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background: red;
}
.h2 {
	text-align: center;
	font-weight: bolder;
	margin-top: 20px;
}
.subtitle {
	text-align: center;
}
.podval {
	text-align: center;
	width: 50%;
}
.main {
	min-height: 100%;
	width: 90%;
	margin: auto;
}
