.main {
	padding-top: 100px;
	background: red;
}
.shop-wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	
}
.shop-item {
	width: calc(33% - 10px - 60px);
	margin: 5px;
	height: 450px;
	background: skyblue;
	padding: 30px;
	text-align: center;
}
.shop-item-img {
	width: 150px;
	height: 150px;
	
}
.header-btn2 {
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	color: black;
	background-color: white;
}
.h3 {
	font-size: 30px;
}
.shop-item:hover {
	transition: 1s;
	transform: scale(1.2) ;
	background: green;

}
.shop-item:hover>.header-btn2 {
	background: red;
	transition: 1s;
}
body {
	background: red;
}