*{
	padding: 0;
	margin: 0;
}

html,body{
	height: 100%;
	
}

.first {
	width: 100%;
	
	background: url(../картинки/img1.jpg);
	height: 100%;
	background-size: cover;

}
.p {
	text-align: center;
	color: white;
	opacity: 0,5;
}
.text{
	margin-top: 100px;
	margin-left: 50px;
	color: white;
	opacity: 0,5;
	text-transform: uppercase;
}
.q {
	font-size: 30px;
	font-weight: bold;
}
.w{
	font-size: 45px;
	font-weight: bold;

}
.second {
	background: white;
	width: 100%;
	height: 100%;
}
.g {
	margin: auto;

	background: ;
	width: 40%;
	height: 400px;
	
	
}


.t {
	width: 100%;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.ww {

	
	margin: ;
	width: 55%;
	
	margin-top: 10px;
	margin-left: 10px;
}

.oo {
	width: 100%;
	display: flex;
}
.ii {
    height: 100%;
	width: 70%;
	margin: auto;
	

}
.w {
	width: 100%;
	height: 70%;
}
.ppp{
	width: 100%;
	height: 70%;
	margin-top: 10px;
}
.third {
	width: 100%;
	height: 300px;
	background: url(../картинки/img3.jpg);
	background-size: cover;


}
.lor{
	border: 2px solid white;width: 200px;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	color: white;
	font-size: 30px;
	width: 190px;

}
.mmm {
	text-align: center;
	margin-top: 30px;
	color: white;
}